<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
	<!--<add name="connstring" connectionString="Data Source=(localdb)\MyInstance; AttachDbFilename=|DataDirectory|\fintek_pos1.mdf;Integrated Security=True;MultipleActiveResultSets=true;" />-->
	<!--<add name="connstring" connectionString="Data Source=DESKTOP-8J77Q0U\SQLEXPRESS; initial catalog = fintek_pos;Integrated Security=True;MultipleActiveResultSets=true;" />-->
		<!--<add name="connstring" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDbFilename=C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\fintek_pos.mdf;Integrated Security=True;MultipleActiveResultSets=true;" />-->
	<add name="connstring" connectionString="Data Source=.; initial catalog = fintek_pos;Integrated Security=True;MultipleActiveResultSets=true;" />

	</connectionStrings>
	
</configuration>